.section {
  padding: 1.5rem;
}

.section.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem 1.5rem 0;
}

.section.search-bar .container {
  padding-bottom: .75rem;
  border-bottom: 1px solid #b5b5b5;
}

.hide {
  display: none !important;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1em;
}

.card {
  border-radius: 4px;
}

.card-footer {
  border-top-color: #b5b5b5;
}

.tags.processing,
.tags.result-count {
  padding: .5rem 0 0;
}

@media screen and (min-width:769px),
print {
  .card .card-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .card .card-content p.title {
    -webkit-line-clamp: 2;
  }

  .card .card-content p.subtitle {
    -webkit-line-clamp: 4;
  }

  .card .card-content p:hover,
  .card .card-content p:focus {
    display: block;
  }
}
